dash-mantine-components==0.12.1
dash==2.12.1
dash-daq==0.5.0
dash-bootstrap-components==1.5.0
flask==2.2.5
gunicorn
langchain-openai
openai==1.58.1
tiktoken
chromadb
langchain
langchain-core
langchain-community
langchain-openai
langchain-text-splitters
pysqlite3-binary
langchain-chroma
pymysql
qdrant-client
langchain-qdrant